
@{
	ViewBag.Title = "DASHBORD";
}

<h2>DASHBORD</h2>

@model List<StudentsInformation.Models.Student>
<div>
	<table class="table table-condensed">
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>DOB</th>
			<th>Cradit</th>
			<th>CGPA</th>
			<th>Drpt_id</th>
			<th></th>
			<th></th>
		</tr>
		@foreach (var student in @Model)
		{
			<tr>
				<td>@student.Id</td>
				<td>@student.Name</td>
				<td>@student.DOB</td>
				<td>@student.Credit</td>
				<td>@student.CGPA</td>
				<td>@student.Dept_id</td>
				<td><a class="btn btn-success" href="/Student/Edit/@student.Id">Edit</a></td>
				<td><a class="btn btn-danger" href="/Student/Delete/@student.Id">Delete</a></td>
			</tr>
		}

	</table>
